.booking-container {
  height: 80%;
  width: 100%;
  border: 1px solid red;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  .booking-section {
    width: 35% !important;
    align-items: center;
    margin: auto 5rem auto 0;
    padding: 2rem;
    border-radius: 12px;
  }
}
