.intro-header{
    background-image: url("https://medpro.vn/umc1/static/media/blur-04.4f6865d2.jpg");
    background-attachment: fixed;
}

.intro-body{
    padding:0 15%;
}

.body-content{
    top: -50px;
    position: relative;
    border-radius: 5px;
    min-height: 300px;
    padding: 30px;
    border: 1px solid rgb(221, 221, 221);
    background-color: #fff;
    color: #000;
}