.add {
  .button {
    background: #008a2e;
    color: white;
    font-weight: bold;
    min-width: 70px;
    &:hover {
      background: #13bd4b;
      color: white;
    }
  }

  .button-outline {
    color: #008a2e;
    font-weight: bold;
    min-width: 70px;
    border: 1px solid #008a2e !important;
    &:hover {
      background: #ecfdf3;
      color: #13bd4b;
    }
  }

  .noti-icon {
    height: 70px;
    width: 70px;
    background: #ecfdf3;
    border-radius: 45px;
  }
}

.edit {
  .button {
    background: #0973dc;
    color: white;
    font-weight: bold;
    min-width: 70px;
    &:hover {
      background: #2088f0;
      color: white;
    }
  }

  .button-outline {
    color: #0973dc;
    font-weight: bold;
    min-width: 70px;
    border: 1px solid #0973dc !important;
    &:hover {
      border: 1px solid #2088f0 !important;
      background: #f0f8ff;
      color: #2088f0;
    }
  }

  .noti-icon {
    height: 70px;
    width: 70px;
    background: #f0f8ff;
    border-radius: 45px;
  }
}

.view {
  .button {
    background: #343434;
    color: white;
    font-weight: bold;
    min-width: 70px;
    &:hover {
      background: #343434;
      color: white;
    }
  }

  .button-outline {
    color: #343434;
    font-weight: bold;
    min-width: 70px;
    border: 1px solid #dee2e6 !important;
    &:hover {
      background: #e9ecef;
      color: #343434;
    }
  }

  .noti-icon {
    height: 70px;
    width: 70px;
    background: #e9ecef;
    border-radius: 45px;
  }
}

.accept {
  .button {
    background: #008a2e;
    color: white;
    font-weight: bold;
    min-width: 70px;
    &:hover {
      background: #13bd4b;
      color: white;
    }
  }

  .button-outline {
    color: #008a2e;
    font-weight: bold;
    min-width: 70px;
    border: 1px solid #008a2e !important;
    &:hover {
      background: #ecfdf3;
      color: #13bd4b;
    }
  }

  .noti-icon {
    height: 70px;
    width: 70px;
    background: #ecfdf3;
    border-radius: 45px;
  }
}
