* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(37, 35, 35, 0.87);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: #555555;
  background: #ffffff !important;
}

#root {
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.table-header-blue {
  background: linear-gradient(90deg, #0048b2, #3b8aff 100%) !important;
  color: white !important;
}

.scroll {
  overflow: hidden;
  padding-right: 11px;
}

.scroll:hover {
  overflow-y: scroll;
  padding-right: 0px;
  scrollbar-width: thin;
}

.bg-danger {
  background-color: #ef38263d !important;
  padding: 8px !important;
  color: #ef3826 !important;
  border-radius: 5px !important;
}

.bg-success {
  background-color: #00b69b33 !important;
  padding: 8px !important;
  color: #00b69b !important;
  border-radius: 5px !important;
}

.bg-warning {
  background-color: #f6dabc !important;
  padding: 8px !important;
  color: #dc7609 !important;
  border-radius: 5px !important;
}

.list-group-item-primary {
  padding: 11px 15px !important;
  color: "#36383A" !important;
  background-color: #fcfdfd !important;
  border-bottom: 0.5px solid #d5d5d5 !important;
  color: #232d42 !important;
}

.list-group-item-primary:hover {
  padding: 11px 15px !important;
  color: "#36383A" !important;
  background-color: #f1f4f9 !important;
  border-bottom: 0.5px solid #d5d5d5 !important;
  color: #232d42 !important;
}


.action-view-btn {
  color: #646565;
}

.action-view-btn:hover {
  color: #414242;
}

.action-view-btn:active {
  color: #181818;
}

.action-red-btn {
  color: #ef3826;
}

.action-red-btn:hover {
  color: #d91c0b;
}

.action-red-btn:active {
  color: #941408;
}

.bg-linear-blue {
  background: linear-gradient(90deg, #0048b2, #3b8aff 100%);
  padding: 0 1rem;
  border-radius: 8px;
  color: white !important;
}